appdirs==1.4.4
asttokens==2.2.1
audioread==3.0.0
backcall==0.2.0
boost-py==0.0.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cmake==3.26.4
contourpy==1.0.7
cycler==0.11.0
debug==0.3.2
decorator==5.1.1
executing==1.2.0
filelock==3.12.0
fonttools==4.39.4
freetype-py==2.4.0
fsspec==2023.5.0
huggingface-hub==0.15.1
idna==3.4
imageio==2.31.0
ipdb==0.13.13
ipython==8.14.0
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
kiwisolver==1.4.4
lazy_loader==0.2
librosa==0.10.0.post2
lit==16.0.5.post0
llvmlite==0.40.1rc1
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
mesh==1.0.0a1
mpmath==1.3.0
msgpack==1.0.5
networkx==3.1
numba==0.57.0
numpy==1.25.0
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
opencv-python==4.7.0.72
packaging==23.1
parso==0.8.3
peppercorn==0.6
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
pooch==1.6.0
prompt-toolkit==3.0.38
psbody-mesh==0.4
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pyglet==2.0.7
Pygments==2.15.1
PyOpenGL==3.1.7
pyparsing==3.0.9
pyrender==0.1.45
python-dateutil==2.8.2
PyYAML==6.0
pyzmq==25.1.0
regex==2023.6.3
requests==2.31.0
safetensors==0.3.1
scikit-learn==1.2.2
scipy==1.10.1
see==1.4.1
six==1.16.0
soundfile==0.12.1
soxr==0.3.5
stack-data==0.6.2
sympy==1.12
threadpoolctl==3.1.0
tokenizers==0.13.3
tomli==2.0.1
torch==2.0.1
tqdm==4.65.0
traitlets==5.9.0
transformers==4.30.0
trimesh==3.22.0
triton==2.0.0
typing_extensions==4.6.3
urllib3==2.0.3
wav2vec==1.0.1
wcwidth==0.2.6
